<form class="mb-2 w-100" (submit)="buscar(); $event.preventDefault()">
  <input
    autofocus
    class="form-control"
    type="search"
    placeholder="Buscar"
    aria-label="Buscar"
    [formControl]="termino"
  />
</form>

<ul>
  <li *ngFor="let seguimiento of enSeguimiento | async">
    {{ seguimiento.idSerie }}
  </li>
</ul>

<div class="row">
  <div
    class="col-sm-12 col-md-6 col-lg-4 col-xl-3"
    *ngFor="let result of this.results"
  >
    <div class="card">
      <img
        src="{{ result.poster_path | tmdbImage }}"
        alt="{{ result.name }}"
        title="{{ result.name }}"
        class="card-img-top"
      />
      <div class="card-body">
        <h5 class="card-title">
          {{ result.name }} ({{ result.first_air_date | date: "yyyy" }})
          {{ result.popularity }}
        </h5>
        <p class="card-text">
          {{
            result.overview.length > 250
              ? (result.overview | slice: 0:250) + " ..."
              : result.overview
          }}
        </p>
        <button
          class="btn btn-primary btn-block"
          (click)="seguimiento(result.id)"
        >
          <i class="far fa-heart"></i>
        </button>
      </div>
    </div>
  </div>
</div>
